.upper-part{
    width: 96%;
    height: 18vh;
    /* border: 2px solid black; */
}
.lower-part{
    /* border: 2px solid red; */
    height: 56vh;
    overflow: auto;

}
   .sec-1 {
       width: 35%;
   }
@media (max-width:480px) {
    .sec-1{
        width: 100%;
    }
    .sub-heading{
        font-size: 1rem;
    }
    .input-main{
        width: 64%;
    }
    .check-div{
        margin-top: 5%;
    }

 
}